<html>
    <head>
       <META charset ="utf-8"></META>
        <title><%=title%></title>
    </head>
    <body>
        <h1>Help page</h1>
        <p>Some text here</p>
        <footer><p>copyright <%=Currentyear%></p></footer>
        
    </body>
</html>